celery~=5.4.0
deepgram-sdk~=3.2.7
flask~=3.0.3
google-cloud-speech~=2.26.0
google-cloud-texttospeech~=2.16.3
numpy~=1.26.4
openai~=1.26.0
pillow~=10.3.0
pyaudio~=0.2.14
pycairo~=1.26.0
pygobject~=3.48.2
pyside6~=6.7.0
redis~=5.0.4
yolov5~=7.0.13
