celery~=5.5.3
deepgram-sdk~=5.3.0
flask~=3.1.2
google-cloud-speech~=2.34.0
google-cloud-texttospeech~=2.33.0
numpy~=2.3.5
openai~=2.8.0
pillow~=12.0.0
pyaudio~=0.2.14
pycairo~=1.29.0
pygobject~=3.54.5
pyside6~=6.10.0
redis~=7.0.1
yolov5~=7.0.14
aiohttp~=3.13.2
pydantic~=2.12.4
python-dotenv~=1.2.1
